.error-indicator {
  display: flex;
  flex-direction: column;
  color: yellow;
  margin: 0 auto;
  text-align: center;
}

.boom {
  font-weight: 700;
}

.death-star-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
